.ipynb_checkpoints
:Zone.Identifier
__pycache__
example/
portfolio_assets/epic_cover_full.jpeg
data/tweets.csv
app-test.py
images/cover/full/
notebooks/backup/
reports/slides/not selected/
example/
reports/prompts/
reports/slides/